lektions-exempel/node-red/node_1-example.json
[{"id":"3023f52e.369f9a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1d75e92a.4fe2a7","type":"influxdb out","z":"3023f52e.369f9a","influxdb":"7fce4edb.a3848","name":"sjolab_1","measurement":"","precision":"","retentionPolicy":"","x":840,"y":100,"wires":[]},{"id":"9b995f83.b580e","type":"ttn uplink","z":"3023f52e.369f9a","name":"dev-1","app":"a72f764.07b2c88","dev_id":"","field":"","x":110,"y":220,"wires":[["a476ecd9.2275d"]]},{"id":"a476ecd9.2275d","type":"function","z":"3023f52e.369f9a","name":"to string","func":"msg.payload = msg.payload.toString();\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":80,"wires":[["56488af.75c6474"]]},{"id":"a8a884cc.00fbf8","type":"switch","z":"3023f52e.369f9a","name":"pressure","property":"payload.pressure","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":140,"wires":[["66239ea9.4cf37"]]},{"id":"56488af.75c6474","type":"json","z":"3023f52e.369f9a","name":"","property":"payload","action":"","pretty":false,"x":310,"y":40,"wires":[["a8a884cc.00fbf8","3b7e9f91.08e53","60fc23f1.52118c","61e2dc10.168db4"]]},{"id":"3b7e9f91.08e53","type":"switch","z":"3023f52e.369f9a","name":"temp","property":"payload.temp","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":200,"wires":[["329197c7.bd4ae8"]]},{"id":"60fc23f1.52118c","type":"switch","z":"3023f52e.369f9a","name":"RF","property":"payload.RF","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":260,"wires":[["5239cd8f.b56634"]]},{"id":"61e2dc10.168db4","type":"debug","z":"3023f52e.369f9a","name":"test1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":60,"wires":[]},{"id":"66239ea9.4cf37","type":"change","z":"3023f52e.369f9a","name":"pressure","rules":[{"t":"set","p":"measurement","pt":"msg","to":"pressure","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":140,"wires":[["9aa10622.5d2d48"]]},{"id":"9aa10622.5d2d48","type":"split","z":"3023f52e.369f9a","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":790,"y":200,"wires":[["1d75e92a.4fe2a7"]]},{"id":"329197c7.bd4ae8","type":"change","z":"3023f52e.369f9a","name":"temp","rules":[{"t":"set","p":"measurement","pt":"msg","to":"temp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":200,"wires":[["9aa10622.5d2d48"]]},{"id":"5239cd8f.b56634","type":"change","z":"3023f52e.369f9a","name":"RF","rules":[{"t":"set","p":"measurement","pt":"msg","to":"RF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":260,"wires":[["9aa10622.5d2d48"]]},{"id":"7fce4edb.a3848","type":"influxdb","z":"","hostname":"192.168.1.107","port":"8086","protocol":"http","database":"sjolab_1","name":"","usetls":false,"tls":""},{"id":"a72f764.07b2c88","type":"ttn app","z":"","appId":"lnu-dev-board-kontoret-1","accessKey":"ttn-account-v2.uRG-w-RvnwaAwPuPXbrmVMpEMAgsktqL7Ru0TLM0OYQ","discovery":"discovery.thethingsnetwork.org:1900"}]
